[class*="col"] {
  color: rgb(56, 56, 56);
}

.btnSearch,
.btnLocation {
  color: rgb(255, 255, 255);
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #cacaca;
}

.btnSearch {
  background-color: #9537fc;
  border: 1px solid #9537fc;
}

.btnSearch:hover {
  background-color: #ffffff;
  color: #9537fc;
  border: 1px solid #9537fc;
}

.btnLocation {
  background-color: #24acd6;
  border: 1px solid #24acd6;
}

.btnLocation:hover {
  background-color: #ffffff;
  color: #24acd6;
  border: 1px solid #24acd6;
}

h2 {
  text-transform: capitalize;
}

.temperature {
  color: black;
  font-size: 60px;
  font-weight: 400;
}
.units {
  padding-left: 5px;
  position: relative;
  top: 15px;
}

a {
  text-decoration: none;
  color: #24acd6;
}

#celsius {
  color: #9537fc;
}

#fahrenheit {
  color: #24acd6;
}

.horizontal-line {
  border: 1px solid #9537fc;
  opacity: 1;
}

#forecast ul {
  padding: 0px;
  text-align: center;
}
.wrapper {
  max-width: 600px;
  margin: 20px auto;
}
.weather-app {
  border: 2px solid #9537fc;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 4px #cacaca;
}

#search-form {
  margin-bottom: 20px;
}
.weather-information {
  padding: 0px;
  margin: 0px 0px 0px 20px;
}

li {
  list-style: none;
  line-height: 2;
}

.githubLink {
  color: #24acd6;
  padding-left: 15px;
  text-decoration: none;
}

.githubLink:hover {
  color: #9537fc;
  text-decoration: underline;
}
